In [22]:
import pandas as pd
import numpy as np
import datetime as dt

In [67]:
verjaardag = '06-12-1983'

In [70]:
aantal_vrijdag_de_dertienden = len(pd.DataFrame(pd.date_range(verjaardag, pd.to_datetime('today')))
                       .rename(columns={0: 'datum'})
                       .assign(day_of_week = lambda d: d['datum'].dt.day_name())
                       .assign(day = lambda d: d['datum'].dt.day)
                       .loc[lambda d: d['day_of_week'] == 'Friday']
                       .loc[lambda d: d['day'] == 13]
                       )

aantal_vrijdag_de_dertienden

66

In [79]:
dertiende_vrijdag_de_dertiende = (pd.DataFrame(pd.date_range(verjaardag, pd.to_datetime('today')))
                       .rename(columns={0: 'datum'})
                       .assign(day_of_week = lambda d: d['datum'].dt.day_name())
                       .assign(day = lambda d: d['datum'].dt.day)
                       .loc[lambda d: d['day_of_week'] == 'Friday']
                       .loc[lambda d: d['day'] == 13]
                       ).iloc[[13]]

dertiende_vrijdag_de_dertiende

          datum day_of_week  day
2588 1990-07-13      Friday   13